* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  line-height: 110%;
}

header {
  padding: 48px 80px 0;
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 375px;
}

.content {
  padding: 64px 0 32px;
  height: 640px;
  position: relative;
  display: grid;
  grid-template-columns: 305px;
  justify-content: center;
}

.background-1 {
  background-image: url(assets/desktop/image-hero-left.png);
  background-size: cover;
  width: 208px;
  height: 160px;
  position: absolute;
  top: 64px;
  left:-29px ;
}

.background-2 {
  background-image: url(assets/desktop/image-hero-right.png);
  background-size: cover;
  width: 208px;
  height: 160px;
  position: absolute;
  top: 64px;
  right: -29px;
}

.intro {
  display: grid;
  align-content: end;
  text-align: center;
  gap: 24px;
}

.intro h1 {
  color: #28283D;
  padding: 0 7px;
  font-size: 40px;
  font-weight: 900;
}

.intro p {
  color: #87879D;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

button {
  width: 193px;
  height: 56px;
  border: none;
  border-radius: 29px;
  color: #FFF;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  cursor: pointer;
}

button span {
  color: #8FE3F9;
  margin-left: 4px;
}

.main-download {
  background-color: #4D96A9;
  margin-bottom: 16px;
}

.button-info {
  background-color: #855FB1;
  width: 161px;
  height: 56px;
  border: none;
  border-radius: 29px;
}

.more-info {
  padding: 32px 32px 64px;
  display: grid;
  justify-content: center;
  place-items: center;
  gap: 64px;
}

.decoration {
  height: 136px;
  position: relative;
}

.line {
  display: inline-block;
  height: 100%;
  border-left: 1px solid #D1D1DF;
  position: absolute;
  left: 50%;
}

.number {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid #D1D1DF;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 28px);
  bottom: 0px;
  background-color: #fff;
  color: #87879D;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.pictures img {
  width: 147px;
  height: 144px;
  border-radius: 8px;
}

.description {
  text-align: center;
}

.description span {
  color: #4d96a9;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 16px;
}

.description h2 {
  color: #28283D;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 32px;
}

.description p {
  color: #87879D;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

footer {
  height: 482px;
}

footer .decoration {
  height: 108px;
}

footer .number {
  bottom: -28px;
}

.end {
  padding: 64px 0;
  background-image: linear-gradient( rgba(79, 144, 159, .75) ), url(assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 311px;
  justify-content: center;
  place-content: center;
}

.footer-text {
  height: 246px;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 24px;
  text-align: center;
}

.footer-text h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
}

.footer-text p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.footer-text button {
  align-self: center;
  background-color: #855FB1;
}

.footer-text button span {
  color: #D9B8FF;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 768px;
  }

  .background-1, .background-2 {
    width: 394px;
    height: 303px;
  }

  .background-1 {
    left: -24px;
  }

  .background-2 {
    right: -24px;
  }

  .content {
    padding: 64px 0;
    height: 761px;
  }

  .intro h1 {
    padding: 0;
    font-size: 48px;
  }

  .main-buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
  }

  .main-download {
    margin-bottom: 0;
  }

  .more-info {
    width: 768px;
    padding: 56px 32px 64px;
  }

  .pictures {
    gap: 24px;
  }

  .pictures img {
    width: 152px;
    height: 160px;
  }

  .description {
    width: 504px;
  }

  .description span {
    font-size: 16px;
  }

  .description h2 {
    font-size: 38px;
  }

  .end {
    grid-template-columns: 504px;
  }

  footer {
    height: 428px;
  }

  .footer-text {
    height: 192px;
  }

  .footer-text h2 {
    font-size: 36px;
  }

}

@media (min-width: 1440px) {
  main {
    grid-template-columns: 1440px;
  }

  .background-2 {
    top: auto;
    bottom: 64px;
  }

  .content {
    padding: 64px 0;
    height: 488px;
    grid-template-columns: 448px;
  }

  .intro {
    align-content: center;
    gap: 32px;
  }

  .intro h1 {
    font-size: 64px;
  }

  .intro p {
    padding-left: 3px;
    font-size: 18px;
  }

  .more-info {
    width: 1440px;
    padding: 56px 80px 72px;
  }

  .pictures {
    gap: 32px;
  }

  .pictures img {
    width: 256px;
    height: 256px;
  }

  .description {
    width: 544px;
  }

  .description h2 {
    font-size: 40px;
    width: 445px;
    margin: 0 auto 32px;
  }

  .description p {
    font-size: 18px;
  }

  footer {
    height: 312px;
  }

  .end {
    grid-template-columns: 1120px;
    padding: 112px 80px;
  }

  .footer-text {
    height: 88px;
    flex-direction: row;
    gap: 32px;
    text-align: start;
    place-content: unset;
  }

  .footer-text h2 {
    font-size: 40px;
    width: 445px;
  }

  .footer-text p {
    font-size: 18px;
    width: 355px;
  }

  .footer-text button {
    align-self: flex-start;
    margin-left: auto;
  }
}